setuptools==60.10.0
pip==22.0.4
packaging==21.3
Pillow==9.0.1
click==8.0.4
importlib-resources==5.4.0
fonttools==4.31.1
importlib-metadata==4.11.3
zipp==3.7.0
matplotlib==3.5.1
Flask-Migrate==3.1.0
pyparsing==3.0.7
Jinja2==3.0.3
python-dateutil==2.8.2
Flask-SQLAlchemy==2.5.1
itsdangerous==2.1.1
MarkupSafe==2.1.1
Flask==2.0.3
Werkzeug==2.0.3
numpy==1.22.3
six==1.16.0
alembic==1.7.7
SQLAlchemy==1.4.32
kiwisolver==1.4.0
Mako==1.2.0
greenlet==1.1.2
cycler==0.11.0
Flask-Login==0.5.0
colorama==0.4.0
WTForms==2.1