<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style>
        body{
            background-color: antiquewhite;
        }
        .about_us{
            text-align: center;
            font-size: 20px;
            padding: 10px;
            margin: auto;

        }
    </style>
</head>
<body>
    <h1 style="text-align: center">Quantified Self App</h1>
    <div class="about_us">

    <p>Used for self tracking - tracking habits, activities, other life parameters etc.
        The quantified self refers both to the cultural phenomenon of self-tracking with technology and
        to a community of users and makers of self-tracking tools who share an interest in "self-knowledge through
        numbers". Quantified self practices overlap with the practice of lifelong and other trends that
        incorporate technology and data acquisition into daily life, often with the goal of improving physical, mental,
        and emotional performance. The widespread adoption in recent years of wearable fitness and sleep trackers such
        as the Fitbit or the Apple Watch, combined with the increased presence of Internet of things in healthcare
        and in exercise equipment, have made self-tracking accessible to a large segment of the population.
        Other terms for using self-tracking data to improve daily functioning are auto-analytics, body hacking,
        self-quantifying, self-surveillance, surveillance (recording of personal activity), and personal informatics.</p>
    <br>
    <p>A major application of quantified self has been in health and wellness improvement. Many devices and services
        help with tracking physical activity, caloric intake, sleep quality, posture, and other factors involved in
        personal well-being. Corporate wellness programs, for example, will often encourage some form of tracking.
        Genetic testing and other services have also become popular.</p>
    <br>
    <p>Quantified self is also being used to improve personal or professional productivity, with tools and services being
    used to help people keep track of what they do during the workday, where they spend their time, and whom they
    interact with.</p>
    </div>
    <span>Source : <a href="https://en.wikipedia.org/wiki/Quantified_self">Wikipedia</a> </span>
</body>
</html>